{% extends 'base.html.twig' %}

{% block body %}
    {#<div class="page-header">
    	<div class="container">
	        <h1>Finanzas</h1>
	        <small>{{ 'now'|date('Y-m-d H:i:s') }}</small>
        </div>
    </div>#}

    <div class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="http://www.udea.edu.co">
                <img class="logo-udea" alt="UDEA" src="{{ asset('assets/img/png/logo-udea.png')}}">
              </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            	   {% block nav %}
            	   {% endblock %}
            </div>
        </div>
    </div>

    {% block article %} 
    {% endblock %}

    {% block login %}	
	{% endblock %}

    <div class="panel-footer">
        <strong>Copyright &copy; {{ 'now'|date('Y') }} Finanzas - Facultad de Comunicaciones</strong>
    </div>
{% endblock %}
