{% extends 'base.html.twig' %}

{% block body %}
    {#<div class="page-header">
    	<div class="container">
	        <h1>Finanzas</h1>
	        <small>{{ 'now'|date('Y-m-d H:i:s') }}</small>
        </div>
    </div>#}

    {#<img class="logo-udea" src="http://portal.udea.edu.co/wps/wcm/connect/udea/3ef4bbd1-4ae7-4c87-b843-685c6f017501/logo-udea.png?MOD=AJPERES&CACHEID=3ef4bbd1-4ae7-4c87-b843-685c6f017501"/>#}

    <div class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="http://www.udea.edu.co">
                <img class="logo-udea" alt="UDEA" src="http://portal.udea.edu.co/wps/wcm/connect/udea/3ef4bbd1-4ae7-4c87-b843-685c6f017501/logo-udea.png?MOD=AJPERES&CACHEID=3ef4bbd1-4ae7-4c87-b843-685c6f017501">
              </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding-top: 20px;">
            	   {% block nav %}
            	   {% endblock %}
            </div>
        </div>
    </div>

    {% block article %} 
    {% endblock %}

    {% block login %}	
	{% endblock %}

    <div class="panel-footer">
        <strong>Copyright &copy; {{ 'now'|date('Y') }} Finanzas - Facultad de Comunicaciones</strong>
    </div>
{% endblock %}
