.page-header{
    margin: 40px 0 0px;
}

.navbar-text {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 10px;
    font-size: 18px;
}

.navbar-default {
    background-color: #efefefcc;
    border-color: transparent;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: transparent;
    border-color: transparent;
}

a:focus, a:hover {
    color: #636363;
    text-decoration: underline;
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: transparent;
}

.panel-heading {
    padding: 15px 15px;
}

.modal-body {
    position: relative;
    padding: 0px;
}

.panel-group {
    margin-bottom: 0px;
}

.modal-header {
    padding: 12px;
}

.modal-dialog {
    width: 1000px;
}

.table {
    margin-bottom: 0px;
}

.panel {
    border: 0px;
}

#login{
    padding: 20px;
}

.panel-footer{
    font-size: 13px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: fixed;
    border-top: 0px;
    background-color: transparent;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

#title-login{
    color: #000;
    margin: 20px 0px;
    text-align: center;
}

.form-control {
    font-size: 16px;
}

.container{
    top: 30px;
    margin-bottom: 40px;
    position: relative;
}

.logo-udea {
    width: 190px;
}

.title{
    font-size: 24px;
}

.navbar-default .navbar-text {
    color: #474747;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #474747;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #474747;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #FFF;
    background-color: #237848;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 0px 10px;
    font-size: 18px;
    line-height: 20px;
}

#content{
    padding-top: 30px;
    margin-bottom: 40px;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 10px;
}

.input-group{
    margin: 10px 0px;
}

#box-finanzas{
    box-shadow: 0px 0px 15px rgb(136, 136, 136); 
    border-radius: 20px;
    text-decoration: none;
}

#title-thumb{
    text-align: center;
    margin-bottom: 25px;
    text-shadow: 0px 0px 15px rgb(255, 255, 255);
    color: #000;
}

.thumbnail{
    margin-bottom: 10px;
}

.table-center{
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
}

.table-style{
    background-color: rgb(61, 152, 59); 
    color: white;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #d1d1d14d;
}

.tipo-user{
    padding: 9px;
}